@{
    ViewData["Title"] = "Список";
}
<h3>Адресная книга / @ViewData["Title"]</h3>
<table class="table">
    <thead>
        <tr>
            @foreach (var chead in ViewBag.CPNames)
            {
                <th>@chead</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id.ToString()
                </td>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Birthday.ToShortDateString()
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>